<li>
	{{burger_name}}

	<button class="change-chomp" data-id="{{id}}" data-newchomp="{{chomp}}">
		{{#if chomp}}CHOMP!{{else}}CHOMP AGAIN!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">Remove Burger!</button>
</li>
